{% extends 'base.html' %} 

<body>
    {% block contents %} 

    <h1>IDEA</h1>

    <h2>Here are My idea.</h2>
    <h4>leave me your any comments. Always Welcome</h4>

    <h3> First, Remote medical treatment Service</h3>
        <p style="width:50%;"> 
            The main point of this idea is combination with Mecial and IT
            Making Community and Videocall with Doctors will help
            the people who are really hard to go hosptial, have no idea about their symptoms, or situations.     
        </p>
    <h3> Second, Make-up Service for male</h3>
        <p style="width:50%;"> 
            I'm gonna make new Makeup items for male who don't like complicated and bothing things
            so, The Makeup items shaped like stick and easy to change the top part cosmetic
            Concealer, Eyebrow, BB comsmetics and etc... will be the top part cosmetic
        </p>
    <h3> Third, Platforum service for the Foriegner</h3>
        <p style="width:50%;"> 
            Traveling
            Community
            Mentor-Mentee
            etc...
        </p>
    <h3> I'll add more later</h3>
        <p style="width:50%;"> 
            Hmm...
        </p>


    <h5><a href="{% url 'challenge' %}">Back to challenge</a></h5>

    {% endblock %}
</body>